[Unit]
Description=Autocommit shared-datafiles on file changes
After=default.target

[Service]
Type=simple
WorkingDirectory=%h/Repos/Misc/shared-datafiles
ExecStart=%h/Repos/Misc/shared-datafiles/.automation/autocommit.sh
ExecStop=/usr/bin/git push
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
