export PATH="$HOME/.local/share/mise/shims:$HOME/.local/bin:$PATH"
export SUDO_ASKPASS=/usr/lib/ssh/ssh-askpass

if [ -z "$DISPLAY" ] && [ -z "$WAYLAND_DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ]; then
{{ if eq .session "wayland" -}}
  exec niri-session -l
{{ else if eq .session "x11" -}}
  exec startx
{{ else if eq .session "kodi" -}}
  exec startx
{{ end -}}
fi
