{{- if eq .role "retro-laptop" -}}
{{ template "starship-retro-laptop.toml" . }}
{{- else if eq .chezmoi.hostname "north" -}}
{{ template "starship-bracketed-segments.toml" . }}
{{- else -}}
{{ template "starship-gruvbox-rainbow.toml" . }}
{{- end -}}
